{% extends "layout.html" %}
{% block page_body %}
    {% include "components/alert_error.html" %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ _('update_password') }}</h3>
        </div>
        <div class="card-body">
            <form method="post" action="{{ request.app.admin_path }}/password">
                <div class="form-group mb-3">
                    <label class="form-label">
                        {{ _('old_password') }}
                    </label>
                    <input class="form-control" type="password" name="old_password"
                           placeholder="{{ _('old_password_placeholder') }}"/>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">
                        {{ _('new_password') }}
                    </label>
                    <input class="form-control" type="password" name="new_password"
                           placeholder="{{ _('new_password_placeholder') }}"/>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">
                        {{ _('re_new_password') }}
                    </label>
                    <input class="form-control" type="password" name="re_new_password"
                           placeholder="{{ _('re_new_password_placeholder') }}"/>
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary">{{ _('submit') }}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
