{% with id = 'form-select-' + name %}
    <div class="text-muted">
        {{ label }}:
        <div class="mx-2 d-inline-block">
            <select class="form-select" name="{{ name }}" id="{{ id }}">
                {% for option in options %}
                    <option value="{{ option[1] }}" {% if option[1] == value %}
                            selected
                    {% endif %} >{{ option[0] }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% include "components/select.html" %}
{% endwith %}
