{% with id = 'form-select-' + name %}
    <div class="form-group mb-3">
        <div class="form-label">{{ label }}</div>
        <select class="form-select" name="{{ name }}" id="{{ id }}">
            {% for option in options %}
                <option value="{{ option[1] }}" {% if option[0] == value %}
                        selected
                {% endif %} >{{ option[0] }}</option>
            {% endfor %}
        </select>
        {% if help_text %}
            <div class="mt-2">
                <small class="form-hint">
                    {{ help_text }}
                </small>
            </div>
        {% endif %}
    </div>
    {% include "components/select.html" %}
{% endwith %}
