<div class="nav-item me-3 dropdown d-none d-md-flex">
    <a href="#" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1"
       aria-label="Show notifications">
        <svg xmlns="http://www.w3.org/2000/svg"
             class="icon icon-tabler icon-tabler-language"
             width="24" height="24"
             viewBox="0 0 24 24" stroke-width="2"
             stroke="currentColor" fill="none"
             stroke-linecap="round"
             stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M5 7h7m-2 -2v2a5 8 0 0 1 -5 8m1 -4a7 4 0 0 0 6.7 4"></path>
            <path d="M11 19l4 -9l4 9m-.9 -2h-6.2"></path>
        </svg>
    </a>
    <div class="dropdown-menu  dropdown-menu-arrow">
        <a class="dropdown-item"
           href="{{ {'language':'zh_CN'}|current_page_with_params }}">
            <span class="me-2">🇨🇳</span>简体中文
        </a>
        <a class="dropdown-item"
           href="{{ {'language':'en_US'}|current_page_with_params }}">
            <span class="me-2">🇺🇸</span>English
        </a>
        <a class="dropdown-item"
           href="{{ {'language':'fr_FR'}|current_page_with_params }}">
            <span class="me-2">🇫🇷</span>Français
        </a>
    </div>
</div>
