// Here you can add other styles
$border-radius: 4px;

body{
  letter-spacing: 0.05em;
}
.main .container-fluid{
  padding: 0
}
.custom-file-control::before {
  content: '选择文件' !important;
}
.custom-file-control::after {
  content: '还未选择文件' !important;
}
.form-control{
  -webkit-appearance: none;
}
.input-group .form-control{
  // z-indenx
}
*:focus, *:active{
  outline: none;
}
.page-item .page-link.active:focus{
  box-shadow: none !important;

}
[name="editorValue"]{
  display: none;
}
.v-select .dropdown-toggle{
  border-radius: $border-radius !important;
  
}
input.input{
  border-radius: $border-radius !important;
}

.form-inline .multiselect{
  display: inline-block;
  width: auto;
}

.multiselect__tags{
  border-radius: 0$border-radius !important;
}
.multiselect{
  position: inherit;
  z-index: 9 !important;
}
.multiselect__content-wrapper{
  
}
.sidebar-fixed .sidebar{
  z-index: 999 !important;
  height: 100%;
}
.break-all{
  word-break: break-all;
}

.vue-html5-editor{
  border-radius: $border-radius !important;
}
.vue-html5-editor .toolbar {
  z-index: inherit !important;
}
.vue-html5-editor .dashboard-font {
  line-height: 1.5em !important;
}
.vue-html5-editor>.toolbar>.dashboard button,
.vue-html5-editor>.toolbar>.dashboard input {
  line-height: 1em !important;
  padding: 2px 4px !important;
  border-radius: 2px !important;
}
.vue-html5-editor img {
  max-width: 100%;
}

// fix vue-select 
.v-select input[type=search], .v-select input[type=search]:focus {
  width: inherit !important;
}
.v-select .selected-tag{
  border-radius: $border-radius !important;
}
// fix date-picker
.mx-input{
  border-radius: $border-radius !important;
  box-shadow: none !important;
}
[class*="btn"], .page-link{
  
}
.page-link {
  border-color: #eee !important;
}
.mx-datepicker{
  min-width: inherit !important;
  // width: auto !important;
}
// tree-select
.vue-treeselect__control, .vue-treeselect__menu{
  border-radius: $border-radius !important;
}


.nav-tabs .nav-item{
  margin-bottom: 0 !important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
  border-color: $border-color !important;
  border-bottom-color: #fff !important;
}
.form-control{
  border-radius: $border-radius !important;
}
.sticky{
  position: sticky;
  top: 0;
}
.pointer{
  cursor: pointer;
}
.page-container{
  // margin: 2em;
  padding-bottom: 3em;
}