
*{
  outline: none;
  
}


.text-white {
  .progress {
    background-color: rgba(255, 255, 255, 0.3);
    .progress-bar {
      background: #fff;
    }
  }
}
.velmld-overlay {
  // background: rgba(0, 0, 0, 0.5) !important;
}
// 3rd-party form controls 
.v-select .dropdown-toggle:after{
  display: none;
}
.v-select .dropdown-toggle,
.mx-input{
  min-height: 2.3rem;
  
}

.data-table {
  .table-header {
    white-space: nowrap;
  }
  .data-value > img {
    max-width: inherit !important;
    max-height: 60px !important;
  }
  thead th,
  thead td {
    position: sticky !important;
    top: -1px;
    // background: #fff;
  }
  .data-table-search {
  }
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	// border-radius: 10px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ccc;
}
