name: pypi
on:
  release:
    types:
      - created
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: '3.x'
      - uses: dschep/install-poetry-action@v1.3
      - name: Pypi Publish
        run: |
          make build
          make publish